* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #979797;
}

body {
    display: block;
    margin: 8px;
}

h1 {
    display: block;
    color: white;
    width: 550px;
    margin: 40px auto;
    text-align: center;
    text-shadow: 0.11em 0.11em black;
}

div {
    display: block;
}

#copy {
    text-align: center;
    position: relative;
    margin: 50px auto;
}

input#code {
    width: 350px;
    height: 30px;
}

.btn {
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px #3d3d3d;
    text-align: center;
    background: rgb(83, 150, 63);
    border: 3px solid transparent;
    text-align: center;
    width: 100px;
    height: 30px;
    transition: all .5s;
}

.btn:hover {
    border: 3px solid rgb(13, 82, 13);
    border-radius: 5%;
}

#container {
    position: relative;
    width: 550px;
    margin: 50px auto;
}

.divInput {
    position: absolute;
    width: 120px;
    height: 50px;
}   

input.allInputs {
    width: 40px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 8px;
    border: 1px solid #6e6e6e;
    outline: none;
    background: #d3d3d3;
    color: rgb(43, 43, 43);
}

#tl {
    top: -2px;
    left: -115px;
    text-align: right;
}

#tr {
    top: -2px;
    right: -115px;
    text-align: left;
}

#br {
    bottom: -2px;
    right: -115px;
    text-align: left;
}

#bl {
    bottom: -2px;
    left: -115px;
    text-align: right;
}

#input_tr, #input_br {
    text-align: left;
    right: auto;
    left: 0;
}

#input_br, #input_bl {
    top: auto;
    bottom: 0;
}

#box {
    width: 460px;
    height: 200px;
    background: #e9eaee;
    border: 2px solid #ffffff;
    margin: 0 auto;
    padding: 40px;
}